@font-face {
    font-family: "IBM Plex";
    src: url("./fonts/IBMPlexMono-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, #000, #000 20%, #282828);
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}